header{
    max-width: 1240px ;
    min-width: 325px ;
    height: 180px;
    width: 90%;
    margin: auto;
    padding: 0 5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    nav a{
        font-size: 24px;
        margin-left: 40px;
    }
    .active{
        text-decoration: underline;
        pointer-events: none;
    }
    @media(max-width: $mobile){
        max-width: 420px;
        img{
            height: 52px;
        }
        nav a{
            font-size: 12px;
            margin-left: 20px;
            text-transform: uppercase;
        }
    }
}
