.about{
    &__banner{
        height: 225px;
        border-radius: 25px;
        background-color: black;
        margin-bottom: 40px;
        img{
            width: 1240px;
            height: 225px;
            object-fit: cover;
            border-radius: 25px;
            opacity: 70%;
        }
    }
    &__list{
        margin: 40px 100px;
    }
}